@import "tailwindcss";

@layer theme, base, components, utilities;

@layer components {
    .hover-underline {
        display: inline-block;
        width: fit-content;

        &::after {
            position: relative;
            bottom: 0.25rem;
            width: 0;
            height: 2px;
            content: '';
            display: block;
            transition: all 300ms;
            @apply bg-pale-orange;
        }

        &:hover::after,
        &:focus::after {
            width: 100%;
        }
    }
}

@theme {
    --color-pale-orange: #FFCB9A;
    --color-grey-blue: #17252A;
    --color-cyan-green: #D1E8E2;

    --max-width-content: 55rem;
    --max-width-reading: 40rem;

    --animate-fade-in-up: fadeInUp .6s cubic-bezier(.48, -.38, .41, 1.22) both;
    --animate-wave: wave 2.5s infinite;

    @keyframes fadeInUp {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes wave {
        0% { transform: rotate(0.0deg) }
        10% { transform: rotate(14.0deg) }
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate(0.0deg) }
        100% { transform: rotate(0.0deg) }
    }
}
