---
import Layout from "@layouts/Layout.astro";
---

<Layout 
    title="404."
    description="404 - Siden findes ikke."
>

    <main class="min-h-screen flex flex-col justify-center items-center p-[5vw] lg:p-[9vw]">
        <section class="flex flex-col justify-center items-center animate-[fadeInUp_500ms_cubic-bezier(0.645,0.045,0.355,1)_1_300ms_both]">
            <h1 class="text-9xl">
                404
                <span class="text-center leading-none block text-base">siden findes ikke.</span>
            </h1>

            <a href="#" id="go-back" class="text-[#FFCB9A] mt-4">
                tilbage
            </a>
        </section>
    </main>
</Layout>

<script>
    document.getElementById('go-back')?.addEventListener('click', function () {
        window.history.go(-1);
    });
</script>