---
import Layout from "@layouts/Layout.astro";
---

<Layout 
    title="404 - Siden findes ikke"
    description="404 - Siden findes ikke."
>
    <main class="h-[calc(100vh-150px)] grid place-items-center">
        <section class="text-center animate-[fadeInUp_500ms_cubic-bezier(0.645,0.045,0.355,1)_1_300ms_both]">
            <h1 class="text-9xl mb-4">
                404
                <span class="text-center leading-none block text-base">
                    siden findes ikke.
                </span>
            </h1>

            <a href="/" id="go-back" class="text-pale-orange hover-underline" title="Gå tilbage">
                tilbage
            </a>
        </section>
    </main>
</Layout>