---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
---

<Layout 
	title="Hello There"
	description="Portfolio til André Winther Olsen, full stack udvikler med speciale i PHP."
>
	<main>
		<Hero />

		<div class="h-screen">

		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		max-width: calc(100% - 2rem);
		margin: auto;
		color: var(--clr-white);
	}
</style>