---
import Layout from '@layouts/Layout.astro';
import clemenslaw from '@assets/projects/clemenslaw.dk.png';
import fiskeritidende from '@assets/projects/fiskeritidende.dk.png';
import andreolsen from '@assets/projects/andreolsen.github.io.png';
import fiskeriforening from '@assets/projects/fiskeriforening.dk.png';
import Project from '@components/Project.astro';
import Header from '@components/Header.astro';
---
<Layout
	title="André Olsen"
	description="André Olsen er en full stack udvikler med en passion for udvikling af enestående og brugervenlige løsninger til nettet."
>
    <Header />

    <main class="md:max-w-reading md:mx-auto mx-[5vw]">
        <section id="about" class="text-base !leading-normal mb-20 text-justify">
            <p class="mb-3">
                Gennem en helt anden uddannelse, IT Supporter, blev jeg introduceret til den magiske verden som er web udvikling, 
                hvilket har ført mig til hvor jeg er i dag. Indtil videre har jeg haft glæden af at bygge web løsninger hos et <a href="https://morningtrain.dk/" class="text-pale-orange hover-underline" target="_blank">digital bureau</a>.
            </p>

            <p class="mb-3">
                Mit fokus her for tiden ligger i at bygge skræddersyet digitale løsninger hos <a href="https://adtention.dk" class="text-pale-orange hover-underline" target="_blank">Adtention</a>.
                Min personlige preference ligger i det punkt, hvor et smukt design møder et optimeret system - udseende & funktion. 
                Skulle jeg vælge mellem dem, ville det dog være udseende.
            </p>

            <p>
                Når jeg ikke bygger digitale løsninger for kunder bruger jeg som regelt tid med min kæreste & hund, læser bøger, 
                spiller det nyeste spil som har fanget min opmærksomhed eller arbejder på mine egne projekter.
            </p>
        </section>

        <section id="projects" class="flex flex-col gap-10">
            <Project 
                name="andreolsen.github.io"
                description="Min personlige hjemmeside, bygget for at lære nye teknologier."
                url="https://andreolsen.github.io"
                imgSrc={andreolsen}
                imgAlt="Billede af André Olsens personlige hjemmeside"
                skills={['AstroJS', 'Tailwind', 'TypeScript', 'PNPM']}
            />

            <Project 
                name="Clemens Advokatfirma"
                description="Hjemmeside bygget i WordPress og gjort brugervenlig via temaet Flatsome."
                url="https://clemenslaw.dk"
                imgSrc={clemenslaw}
                imgAlt="Billede af Clemens Advokatfirmas hjemmeside"
                skills={['WordPress', 'SCSS', 'Webpack', 'GIT']}
            />

            <Project 
                name="Fiskeriforening"
                description="Hjemmeside bygget i WordPress og gjort brugervenlig via temaet Flatsome."
                url="https://fiskeriforening.dk"
                imgSrc={fiskeriforening}
                imgAlt="Billede af Fiskeriforenings hjemmeside"
                skills={['WordPress', 'SCSS', 'Webpack', 'GIT']}
            />

            <Project 
                name="Fiskeri Tidende"
                description="Hjemmeside bygget i WordPress og gjort brugervenlig via temaet Flatsome."
                url="https://fiskeritidende.dk"
                imgSrc={fiskeritidende}
                imgAlt="Billede af Fiskeri Tidendes hjemmeside"
                skills={['WordPress', 'SCSS', 'Webpack', 'GIT']}
            />
        </section>
    </main>
</Layout>