---
import Layout from '@layouts/Layout.astro';
import Footer from '@components/Footer.astro';
---

<Layout
	title="André Olsen"
	description="André Olsen er en full stack udvikler med en passion for udvikling af enestående og brugervenlige løsninger til nettet."
>
    <div class="h-screen flex flex-col justify-center items-center p-[5%]">
        <main class="text-6xl max-w-content font-quicksand font-extralight">
            <h1 class="inline font-semibold">André Winther Olsen</h1> er en 3 år+ erfaren full-stack developer @ 
            <a href="https://adtention.dk" class="text-pale-orange hover-underline" target="_blank">adtention</a> 
            som forvandler visioner til enestående, online virkelighed. Tag en tur gennem mine 
            <a href="/projects" class="text-pale-orange hover-underline" aria-label="Link til André Olsens projekter">projekter</a>, 
            lær mere <a href="/about" class="text-pale-orange hover-underline" aria-label="Link til om André Olsen">om mig</a> 
            og få indblik i min <a href="/resume" class="text-pale-orange hover-underline" aria-label="Link til André Olsens karriere">karriere</a>.
        </main>

        <Footer />
    </div>
</Layout>

<style lang="scss">
    a {
        transition: all .2s var(--bouncy-cubic);

        &:hover,
        &:focus {
            transform: translateY(-2px);
        }
    }

    nav a {
        transition: all .2s var(--bouncy-cubic);
        color: #D1E8E2;

        &:hover,
        &:focus {
            color: #FFCB9A;
        }
    }
</style>