---
import Footer from '@components/Footer.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout
	title="andré winther olsen."
	description="André Olsen er en full stack udvikler med en passion for udvikling af enestående og brugervenlige løsninger til nettet."
>
    <section class="min-h-screen flex flex-col justify-center items-center p-[5vw] lg:p-[9vw]">
        <article class="text-6xl max-w-content font-extralight">
            <h1 class="inline font-semibold" transition:name="name-logo">André Olsen</h1> er en full-stack developer @ 
            <a href="https://adtention.dk" class="text-pale-orange hover-underline" target="_blank">adtention</a> 
            med 3 år+ erfaring i at forvandle visioner til enestående, online virkelighed. Tag en tur gennem
            <a href="#projects" class="text-pale-orange hover-underline" transition:name="nav-projects" aria-label="Link til André Winther Olsens projekter">mine projekter</a>, 
            lær mere <a href="#about" class="text-pale-orange hover-underline" transition:name="nav-about" aria-label="Link til om mig, André Winther Olsen">om mig</a> 
            eller få indblik i <a href="#resume" class="text-pale-orange hover-underline" transition:name="nav-resume" aria-label="Link til André Winther Olsens karriere">min rejse</a>.
        </article>

        <Footer />
    </section>
</Layout>

<style lang="scss">
    a {
        transition: all .2s var(--bouncy-cubic);

        &:hover,
        &:focus {
            transform: translateY(-2px);
        }
    }
</style>