---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Mine projekter">
	<main>
	</main>
</Layout>

<style>
	main {
		max-width: calc(100% - 2rem);
		color: var(--clr-white);
		font-size: 20px;
		line-height: 1.6;
	}
</style>
