---
import Layout from '@layouts/Layout.astro';
import Footer from '@components/Footer.astro';
---

<Layout
	title="André Olsen"
	description="André Olsen er en full stack udvikler med en passion for udvikling af enestående og brugervenlige løsninger til nettet."
>
    <div class="h-screen flex flex-col justify-center items-center p-[5%]">
        <main class="text-6xl max-w-content w-full font-quicksand flex flex-wrap justify-between gap-8">

            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
        </main>

        <Footer />
    </div>
</Layout>

<style lang="scss">
    a {
        transition: all .2s var(--bouncy-cubic);

        &:hover,
        &:focus {
            transform: translateY(-2px);
        }
    }

    nav a {
        transition: all .2s var(--bouncy-cubic);
        color: #D1E8E2;

        &:hover,
        &:focus {
            color: #FFCB9A;
        }
    }

    main div {
        width: 25%;
        height: 200px;
        background-color: #FFCB9A;
    }
</style>