---
import Layout from '@layouts/Layout.astro';
---

<Layout
	title="André Olsen"
	description="André Olsen er en full stack udvikler med en passion for udvikling af enestående og brugervenlige løsninger til nettet."
>
    <main class="max-w-[595px] max-h-[842px] w-full h-full bg-black">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus hic laudantium harum porro nulla nemo dolorum exercitationem perferendis quae amet, voluptate molestias accusantium quam mollitia qui dicta aliquid culpa dolor!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deleniti placeat non saepe! Inventore repellat veritatis illum in officiis assumenda magnam molestias saepe debitis aperiam adipisci, quas magni tempora. Voluptatum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deleniti placeat non saepe! Inventore repellat veritatis illum in officiis assumenda magnam molestias saepe debitis aperiam adipisci, quas magni tempora. Voluptatum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deleniti placeat non saepe! Inventore repellat veritatis illum in officiis assumenda magnam molestias saepe debitis aperiam adipisci, quas magni tempora. Voluptatum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deleniti placeat non saepe! Inventore repellat veritatis illum in officiis assumenda magnam molestias saepe debitis aperiam adipisci, quas magni tempora. Voluptatum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deleniti placeat non saepe! Inventore repellat veritatis illum in officiis assumenda magnam molestias saepe debitis aperiam adipisci, quas magni tempora. Voluptatum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deleniti placeat non saepe! Inventore repellat veritatis illum in officiis assumenda magnam molestias saepe debitis aperiam adipisci, quas magni tempora. Voluptatum.
        
    </main>
</Layout>

<style lang="scss">
    
</style>