<section class="pt-24">
    
    <div class="px-[10%]">

        <h2 class="text-4xl text-teal-400">About me</h2>

        <div>
            
        </div>

    </div>

</section>

<style lang="scss">

</style>