---
import { Image } from "astro:assets";
import Me from "@assets/andre-olsen.jpeg";
---

<section id="about-me" class="pt-40">
    <div class="px-[10%] flex justify-between">
        <div class="w-1/2">

            <h2 class="text-4xl text-teal-400">Mere om mig</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, qui accusantium tenetur suscipit architecto animi nesciunt ad molestiae dicta odio impedit aliquid ducimus, doloribus similique est. Vitae, adipisci. Facilis, praesentium?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, qui accusantium tenetur suscipit architecto animi nesciunt ad molestiae dicta odio impedit aliquid ducimus, doloribus similique est. Vitae, adipisci. Facilis, praesentium?
            </p>
            
        </div>

        <div class="w-1/3">
            <Image src={Me} alt={'Billede af André Winther Olsen'}/>
        </div>
    </div>
</section>

<style lang="scss">

</style>