<footer class="py-10 px-[5vw] flex items-center justify-center">
    <p>
        Kodet i <a href="https://code.visualstudio.com/" class="text-pale-orange hover-underline" target="_blank">Visual Studio Code</a>. 
        Bygget med <a href="https://astro.build/" class="text-pale-orange hover-underline" target="_blank">AstroJS</a> & <a href="https://tailwindcss.com/" class="text-pale-orange hover-underline" target="_blank">Tailwind CSS</a>.
        Udgivet via <a href="https://pages.github.com/" class="text-pale-orange hover-underline" target="_blank">Github Pages</a>.
    </p>
</footer>