---
import Socials from '@components/Socials.astro';
---

<footer class="flex flex-col gap-4 pb-3 pt-10 items-center min-h-16">
    <Socials />

    <a href="https://github.com/AndreOlsen/AndreOlsen.github.io" target="_blank" class="hover:text-teal-500">
        designed & made by André Winther Olsen.
    </a>
</footer>
