---
import Socials from '@components/Socials.astro';

const curYear = new Date().getFullYear();
---

<footer class="flex justify-between items-center flex-wrap px-[3%] pb-6 pt-12">
    <Socials />

    <p>&copy; {curYear} André Winther Olsen</p>
</footer>
