<footer class="mb-10 mt-14 md:max-w-reading md:mx-auto mx-[5vw]">
    <p>
        Kodet i <a href="https://code.visualstudio.com/" class="text-pale-orange hover-underline" target="_blank">Visual Studio Code</a>. 
        Bygget med <a href="https://astro.build/" class="text-pale-orange hover-underline" target="_blank">Astro</a> & <a href="https://tailwindcss.com/" class="text-pale-orange hover-underline" target="_blank">Tailwind CSS</a>.
        Udgivet til <a href="https://pages.github.com/" class="text-pale-orange hover-underline" target="_blank">Github Pages</a>.
    </p>
</footer>