---
import Socials from '@components/Socials.astro';

const curYear = new Date().getFullYear();
---

<footer transition:persist>
    <Socials />

    <p>
        Copyright &copy; {curYear} André Winther Olsen
    </p>
</footer>

<style lang="scss">
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 3rem auto 1.5rem auto;
        max-width: calc(100% - 2rem);
    }

    p {
        color: var(--clr-fg);
        margin: 0;
    }
</style>
