<footer class="mb-10 mt-14 md:max-w-reading md:mx-auto mx-[5vw] text-sm text-center leading-normal!">
    <p>
        Written in <a href="https://code.visualstudio.com/" class="text-pale-orange hover-underline" target="_blank">Visual Studio Code</a>. 
        Built with <a href="https://astro.build/" class="text-pale-orange hover-underline" target="_blank">Astro</a>.
        Published to <a href="https://pages.github.com/" class="text-pale-orange hover-underline" target="_blank">Github Pages</a>.
    </p>
</footer>