---
import Socials from '@components/Socials.astro';

const curYear = new Date().getFullYear();
---

<footer class="flex flex-col gap-4 pb-3 pt-10 items-center min-h-16">
    <Socials />

    <p>Designed & Made by <mark class="bg-transparent text-teal-500">André Winther Olsen</mark></p>
</footer>
