---
import ThemeToggle from '@components/ThemeToggle.astro';

interface Props {
	email: string;
}

const { email } = Astro.props;
---

<header>
    <a class="email" title="Send mig en email!" href=`mailto:${email}`>
        <svg id="email-icon"  xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 14 14">
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5.82 11L8 13.17a1.1 1.1 0 0 0 1.05.3a1.12 1.12 0 0 0 .81-.74L13.44 2A1.12 1.12 0 0 0 12 .56L1.27 4.14A1.12 1.12 0 0 0 .53 5a1.1 1.1 0 0 0 .3 1l2.74 2.74l-.09 3.47ZM13.12.78L3.57 8.74"/>
        </svg>
        <span id="email-text">{email}</span>
    </a>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/projects/">Projekter</a>
            </li>
            <li>
                <a href="/me/">Mig</a>
            </li>
        </ul>

        <ThemeToggle />
    </nav>
</header>

<style lang="scss">
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem auto 3rem auto;
        max-width: calc(100% - 2rem);
    }

    nav {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    ul {
        display: inherit;
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            white-space: nowrap;
            display: inherit;

            &:not(:last-child)::after {
                content: '/';
                color: var(--clr-fg);
                padding-inline: .5rem;
            }
        }
    }

    a {
        color: var(--clr-fg);
        text-decoration: none;

        &:is(:hover, :focus) {
            color: #FFF;
        }
    }

    .email {
        display: grid;
        grid-template: "overlayed";

        & > * {
            grid-area: overlayed;
        }

        /* position: relative;
        display: flex;
        align-items: center;
        min-width: 25px; */
    }

    #email-text {
        width: 0;
        overflow: hidden;
        transition: width .1s cubic-bezier(.48, -.38, .41, 1.22);
        padding: 0;
        align-self: center;

        @media screen and (min-width: 480px) {
            transition-delay: .1s;
            width: 100%;
        }
    }

    #email-icon {
        cursor: pointer;
        color: var(--clr-fg);
        margin-left: 0;
        transition: all .1s cubic-bezier(.48, -.38, .41, 1.22) .1s;

        @media screen and (min-width: 480px) {
            transition: all .1s cubic-bezier(.48, -.38, .41, 1.22);
            margin-left: -200px;
        }

        &:is(:hover, :focus) {
            color: var(--clr-black);
            
            path {
                fill: var(--clr-white);
            }
        }
    }
</style>
