---
import Navigation from "@components/Navigation.astro";
---

<header id="header" class="flex justify-center z-50 w-full fixed transition-transform duration-500">
    <div class="flex w-3/4 justify-between items-center py-4">
        <a href="/" class="text-3xl" transition:name="name-logo" aria-label="Gå til forsiden" >andré.</a>

        <Navigation />
    </div>
</header>

<style lang="scss">
    a {
        color: var(--clr-fg);

        &:is(:hover, :active, :focus) {
            color: rgb(var(--clr-teal));
        }
    }

    .scrolled {
        transform: translateY(-100px);
    }
</style>

<script is:inline>
    const header = document.getElementById('header');
    let lastScrollY = 0;

    window.addEventListener('scroll', () => {
        const scrollY = window.scrollY;

        if (scrollY > lastScrollY) {
            header.classList.add('scrolled');
        } else {
            header.classList.remove('scrolled');
        }

        lastScrollY = scrollY;
    });
</script>