---
import Socials from '@components/Socials.astro';
---
<header class="h-screen w-full grid place-items-center">
    <div class="flex flex-col items-center lg:mx-auto mx-[5vw] lg:max-w-content">
        <article class="text-4xl font-extralight animate-fade-in-up text-justify">
            <h1 class="inline font-semibold">André Olsen</h1> er en full-stack developer @ 
            <a href="https://adtention.dk" class="text-pale-orange hover-underline" target="_blank">Adtention</a> 
            med 3+ års erfaring i at forvandle visioner til enestående, online virkelighed. Gå på opdagelse i
            <a href="#projects" class="text-pale-orange hover-underline" aria-label="Link til André Winther Olsens projekter">mine projekter</a>, 
            lær mere <a href="#about" class="text-pale-orange hover-underline" aria-label="Link til om André Winther Olsen">om mig</a> 
            eller få indblik i <a href="#resume" class="text-pale-orange hover-underline" aria-label="Link til André Winther Olsens karriere">min rejse</a>.
        </article>

        <Socials />
    </div>
</header>