---
import Navigation from "@components/Navigation.astro";
---
<header id="header" class="flex justify-center z-50 w-full fixed transition-transform duration-500" transition:persist>
    <div class="flex w-3/4 justify-between items-center py-4">
        <a href="/" class="text-3xl" transition:name="name-logo" aria-label="Gå til forsiden" >andré.</a>

        <Navigation />
    </div>
</header>

<style lang="scss">
    a {
        color: var(--clr-fg);

        &:is(:hover, :active, :focus) {
            color: rgb(var(--clr-teal));
        }
    }

    .scrolled {
        transform: translateY(-100px);
    }
</style>

<script>
    function initHeaderScroll() {
        const header: HTMLElement = document.getElementById('header') as HTMLElement;
        if (!header) return; // Exit if header isn't found

        let lastScrollY = 0;

        function onScroll() {
            const scrollY = window.scrollY;

            if (scrollY > lastScrollY) {
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }

            lastScrollY = scrollY;
        }

        // Remove previous event listeners to avoid duplicates
        window.removeEventListener('scroll', onScroll);
        window.addEventListener('scroll', onScroll);
    }

    // Initial initialization
    initHeaderScroll();

    // Reinitialize after every AstroJS page transition
    document.addEventListener("astro:page-load", initHeaderScroll);
</script>