---
import Socials from '@components/Socials.astro';
---
<header class="h-screen w-full grid place-items-center">
    <div class="flex flex-col items-center lg:mx-auto mx-[5vw] lg:max-w-6xl">
        <article class="text-6xl font-extralight animate-fade-in-up text-justify">
            <h1 class="inline font-semibold">André Olsen</h1> is a full-stack developer @ 
            <a href="https://adtention.dk" class="text-pale-orange hover-underline" aria-label="Link to André Olsen's workplace" target="_blank">Adtention</a> 
            with 3+ years of experience transforming visions into exceptional online experiences.
            Learn more <a href="#about" class="text-pale-orange hover-underline" aria-label="Link to about André Olsen">about me</a> or check out
            <a href="#projects" class="text-pale-orange hover-underline" aria-label="Link to André Olsen's projects">my projects</a>.
        </article>

        <Socials />
    </div>
</header>