---
import ThemeToggle from '@components/ThemeToggle.astro';

interface Props {
	email: string;
}

const { email } = Astro.props;
---

<header transition:persist>
    <div>
        <a class="email" href=`mailto:${email}`>
            <svg id="email-icon"  xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 14 14">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M5.82 11L8 13.17a1.1 1.1 0 0 0 1.05.3a1.12 1.12 0 0 0 .81-.74L13.44 2A1.12 1.12 0 0 0 12 .56L1.27 4.14A1.12 1.12 0 0 0 .53 5a1.1 1.1 0 0 0 .3 1l2.74 2.74l-.09 3.47ZM13.12.78L3.57 8.74"/>
            </svg>
            <span id="email-text">{email}</span>
        </a>
    </div>

    <div>
        <nav>
            <a href="/">Home</a>
            <span>/</span>
            <a href="/projects/">Projekter</a>
            <span>/</span>
            <a href="/me/">Mig</a>
        </nav>

        <ThemeToggle />
    </div>
</header>

<style lang="scss">
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        margin: auto;
        max-width: calc(100% - 2rem);

        > div:last-child {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            white-space: nowrap;
        }
    }

    a {
        color: var(--clr-white);
        text-decoration: none;

        &:is(:hover, :focus) {
            color: #FFF;
        }
    }

    span {
        color: var(--clr-white);
        padding-inline: 5px;
    }

    .email {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
    }

    #email-text {
        width: 0;
        overflow: hidden;
        transition: all .1s;
        padding: 0;

        @media screen and (min-width: 480px) {
            width: 100%;
        }
    }

    #email-icon {
        color: var(--clr-white);
        cursor: pointer;
        position: absolute;
        left: 0;
        transition: all .1s;

        @media screen and (min-width: 480px) {
            left: -200px;
        }

        &:is(:hover, :focus) {
            color: var(--clr-black);
            
            path {
                fill: var(--clr-white);
            }
        }
    }
</style>
