<section class="mb-12">
    <h1 class="section__title">
        <span class="text-3xl block animate-fade-in-up">
            Hej! <span class="wave animate-wave inline-block">👋</span> Mit navn er
        </span>
        <span class="text-8xl text-gradient block font-bold animate-fade-in-up">
            André Olsen.
        </span>
    </h1>

    <p class="section__content max-w-[700px] text-xl animate-fade-in-up">
        Jeg er en <mark>Full Stack Developer</mark>, og min lidenskab ligger i at skabe enestående 
        og brugervenlige oplevelser på nettet. I øjeblikket finder du mig hos 
        <a target="_blank" rel="noopener" href="https://adtention.dk/">Adtention.</a>, 
        hvor jeg udvikler responsivt designede webløsninger.
    </p>
</section>

<style lang="scss">
    .text-gradient {
        @apply bg-gradient-to-r from-teal-500 to-indigo-500 bg-clip-text text-transparent;
    }

	mark {
        @apply bg-gradient-to-r from-teal-500 to-indigo-500 bg-clip-text text-transparent font-bold;
        /* background-image: var(--accent-orange); */
	}

    html[data-theme="light"] mark {
        filter: invert(1);    
    }

	h1 {
        /* color: var(--clr-fg); */
	}

    p {
        /* color: var(--clr-fg); */
        /* font-size: clamp(1rem, 0.824rem + 0.762vw, 1.3rem); */
        /* animation: slideUpDown .3s var(--bouncy-cubic); */
        /* animation-delay: .2s; */
    }
/* 
    a {
        filter: brightness(90%);
        text-decoration: none;
        color: rgb(var(--clr-teal));

        &:hover {
            filter: brightness(100%);
        }
    }

    @keyframes slideUpDown {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    } */
</style>