---
import ThemeToggle from "@components/ThemeToggle.astro";
---

<nav class="flex gap-4 items-center">
    <ul class="flex">
        <li class="after:content-['/'] after:px-2">
            <a href="/" class="hover:text-teal-500">Home</a>
        </li>
        <li class="after:content-['/'] after:px-2">
            <a href="/projects/" class="hover:text-teal-500">Projekter</a>
        </li>
        <li>
            <a href="/me/" class="hover:text-teal-500">Mig</a>
        </li>
    </ul>

    <ThemeToggle />
</nav>