---
import ThemeToggle from "@components/ThemeToggle.astro";
---

<nav class="flex gap-4 items-center">
    <ul class="flex">
        <li class="after:content-['/'] after:px-2">
            <a href="/">Home</a>
        </li>
        <li class="after:content-['/'] after:px-2">
            <a href="/projects/">Projekter</a>
        </li>
        <li>
            <a href="/me/">Mig</a>
        </li>
    </ul>

    <ThemeToggle />
</nav>