<nav class="flex gap-4 items-center">
    <ul class="flex">
        <li class="after:content-['/'] after:text-3xl after:font-extralight after:px-2">
            <a href="/projects/" class="text-pale-orange font-extralight hover-underline text-3xl" transition:name="nav-projects" aria-label="Link til projekter">
                projekter
            </a>
        </li>
        <li class="after:content-['/'] after:text-3xl after:font-extralight after:px-2">
            <a href="/about/" class="text-pale-orange font-extralight hover-underline text-3xl" transition:name="nav-about" aria-label="Link til om mig">
                om mig
            </a>
        </li>
        <li>
            <a href="/" class="text-pale-orange font-extralight hover-underline text-3xl" transition:name="nav-resume" aria-label="Link til forsiden">
                karriere
            </a>
        </li>
    </ul>
</nav>