---
interface Props {
    level: number | null;
}

const { level } = Astro.props;
---

<div class="skill-level" data-level=`${level}`>
    {level && 
        <span class="level"></span>
        <span class="level"></span>
        <span class="level"></span>
        <span class="level"></span>
        <span class="level"></span>
    }

    {!level && <p>WIP</p>}
</div>

<style lang="scss">
    .skill-level {
        display: flex;
        gap: .2rem;
    }

    .level {
        border-radius: 99%;
        background-color: grey;
        width: 10px;
        height: 10px;
    }

    .skill-level[data-level="1"] .level:nth-child(-n + 1),
    .skill-level[data-level="2"] .level:nth-child(-n + 2),
    .skill-level[data-level="3"] .level:nth-child(-n + 3),
    .skill-level[data-level="4"] .level:nth-child(-n + 4),
    .skill-level[data-level="5"] .level {
        background-color: #2e8b57;
    }
</style>