<nav>
    <a href="https://github.com/AndreOlsen" target="_blank">Github</a>
    <span>/</span>
    <a href="https://dk.linkedin.com/in/andre-w-olsen" target="_blank">LinkedIn</a>
    <span>/</span>
    <a href="https://codepen.io/Andr-Olsen" target="_blank">CodePen</a>
</nav>

<style>
    a {
        color: var(--clr-fg);
        text-decoration: none;
        font-size: 1rem;
    }
    
    span {
        color: var(--clr-fg);
        padding-inline: 5px;
    }
</style>