---
import Icon from 'astro-icon'
---

<nav class="flex gap-4">
    <a href="https://github.com/AndreOlsen" aria-label="Se min github" target="_blank">
        <Icon name="mdi:github" />
    </a>
    <a href="https://dk.linkedin.com/in/andre-w-olsen" aria-label="Se min linkedin" target="_blank">
        <Icon name="mdi:linkedin" />
    </a>
    <a href="https://codepen.io/Andr-Olsen" aria-label="Se min codepen" target="_blank">
        <Icon name="mdi:codepen" />
    </a>
</nav>

<style lang="scss">
    [astro-icon] {
        @apply w-8;
    }

    a {
        transition: all .2s var(--bouncy-cubic);
        filter: brightness(80%);

        &:hover {
            transform: translateY(-2px);
            color: rgb(var(--clr-teal));
            filter: brightness(100%);
        }
    }
</style>