---
// @ts-ignore
import { Icon } from 'astro-icon/components';
---

<nav class="mt-12 flex justify-center items-center gap-10">
    <a href="https://github.com/AndreOlsen" title="GitHub" aria-label="My GitHub" target="_blank" rel="noopener" class="animate-fade-in-up w-10">
        <Icon name="mdi:github" class="text-4xl"/>
    </a>
    <a href="https://codepen.io/Andr-Olsen" title="Codepen" aria-label="My Codepen" target="_blank" rel="noopener" class="animate-fade-in-up w-10">
        <Icon name="mdi:codepen" class="text-4xl"/>
    </a>
    <a href="https://dk.linkedin.com/in/andre-w-olsen" title="LinkedIn" aria-label="My LinkedIn" target="_blank" rel="noopener" class="animate-fade-in-up w-10">
        <Icon name="mdi:linkedin" class="text-4xl"/>
    </a>
    <a href="mailto:ao.andreolsen@gmail.com" title="Email" aria-label="Send me an email" target="_blank" rel="noopener" class="animate-fade-in-up w-10">
        <Icon name="ic:round-email" class="text-4xl"/>
    </a>
</nav>

<style lang="scss">
    a {
        transition: all .2s var(--bouncy-cubic);
        color: #D1E8E2;

        &:hover,
        &:focus {
            transform: translateY(-2px);
            color: #FFCB9A;
        }
    }
</style>