<section>
    <h1>Hej! <span class="wave">👋</span> Mit navn er <span class="text-gradient">André.</span> </h1>
    <p>
        Jeg er en teknologi nørd, med en passion inden for webudvikling, <br />
        der arbejder som <mark>Full Stack Developer</mark> i systemer som 
        WordPress, Laravel og CakePHP.
    </p>
    <a href="/about-me/">> Mere om mig</a>
</section>

<style>
    section {
		max-width: 600px;
		margin: 4rem 0;
	}

	mark {
        -webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
        background-image: var(--accent-orange);
	}

	.wave {
        animation-name: wave-animation;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        transform-origin: 70% 70%;
        display: inline-block;
    }

    @keyframes wave-animation {
        0% { transform: rotate( 0.0deg) }
        10% { transform: rotate(14.0deg) }
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate( 0.0deg) } 
        100% { transform: rotate( 0.0deg) }
    }

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.2;
		margin: 0;
	}

    p {
        margin-bottom: 0;
    }

    a {
        text-decoration: none;
        color: var(--clr-white);
        display: inline-block;
    }

    a:hover::after {
        width: 100%;
    }

    a::after {
        content: '';
        background-color: blue;
        height: 2px;
        border-radius: 10%;
        width: 20%;
        display: block;
        transition: width 0.3s cubic-bezier(0.79, 0.33, 0.14, 0.53);
    }

	.text-gradient {
        background: var(--accent-teal);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>