--- 
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@styles/global.scss';

interface Props {
	title: string;
	description: string
}

const { title, description } = Astro.props;
---

<!DOCTYPE html> 
<html lang="da" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="bg-[#2C3531] text-[#D1E8E2]">
		<!-- <div class="background-gradient"></div> -->

		<!-- <Header /> -->

		<slot />

		<!-- <Footer /> -->
	</body>
</html>

<style is:global lang="scss">
	:root {
		--fontsource-display: optional;
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
		--clr-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--clr-teal)) 30%, var(--clr-white) 60%);
		--site-width: 1000px;
		--clr-white: #EDF0ED;
		--clr-black: #212121;
		--clr-sun: #FCB033;
		--clr-moon: #DCDCDC;
		--clr-teal: 39, 199, 171;
		--accent-orange: radial-gradient(circle at 10% 20%, rgb(252, 251, 121) 0%, rgb(255, 200, 124) 90%);
		--accent-teal: radial-gradient(circle at 10% 20%, rgb(39, 199, 171) 0%, rgb(70, 143, 197) 90%);
		--bouncy-cubic: cubic-bezier(.48, -.38, .41, 1.22);
	}

	html {
		scroll-behavior: smooth;
	}

	[data-theme="light"] {
		--clr-bg: var(--clr-white);
		--clr-fg: var(--clr-black);
	}

	[data-theme="dark"] {
		--clr-bg: var(--clr-black);
		--clr-fg: var(--clr-white);
	}

	.background-gradient {
		@apply h-4/5 w-full absolute -z-10 opacity-10 blur-3xl;
		background: linear-gradient(
			-15deg,
			transparent 20%,
			rgb(var(--clr-teal)) 60%,
			rgb(70, 143, 197) 80%
		);
	}

	* {
		box-sizing: border-box;
	}
</style>